/* #black {
    color: white;
    background-color: black;
} */
/* #blue {
    background-color: blue;
}
#green {
    background-color: green;
}
#red {
    background-color: red;
} */
/* .color {
    border: black solid 1px;
     display: inline-block; */
 /* }   */
 .color {
     display: inline-block;
     width: 40px;
     height: 40px;
 }

#color-palett {
    padding-top: 5px;
}
#pixel-board {
    margin-top: 10px;
}
/* .pixel-board-line {
   display: inline-block;
} */
.pixel {
    background-color: white;
    display: inline-block;
    height: 40px;
    width: 40px;
    border: solid black 1px;
    margin-left: 1px;
    margin-bottom: -3px;
}
#clear-board {
    height: 15px;
    width: 50px;
    margin-top: 15px;
    margin-bottom: 10px;
    display: flex; /*  https://pt.stackoverflow.com/questions/278978/como-centrar-texto-de-botao-verticalmente */
    justify-content: center;
    align-items: center;
    font-size: 12px;

}

#board-size {
    margin-top: 10px;
}

#generate-board {
    margin-left: 5px;
    
}