#black {
    color: white;
    background-color: black;
}
#blue {
    background-color: blue;
}
#green {
    background-color: green;
}
#red {
    background-color: red;
}
.color {
    border: black solid 1px;
}